.user-png{
width: 30px;
height: 30px;
}

.navbar-brand{
color: rgb(103, 217, 217);
font-size: 25px;
font-weight: bold;
}

.btn-nav{
background-color:  rgb(103, 217, 217);
border-radius: 5px;
color: white !important;
font-weight: bold;
}